@media screen and (min-width: 980px)
  .navbar
    &-menu  
      &__link
        &:hover
          color: #714BEC
      &__item
        &:last-child .navbar-menu__link:hover
          color: #fff 
      &__button
        &:hover
          background: #714BEC 
  .button    //hero
    &__begin
      &:hover
        background: #714BEC 
    &__trial
      &:hover
        background: #714BEC
        color: #fff

        //блок learn 
  .description
    &__point
      &:hover
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25)
        border-radius: 2px